<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-4">
                <h2 class="b-goods-f__title">Apo Reef & Coron</h2>
                <ul class="arrow-list">
                    <li *ngFor="let link of links">
                        <a href="{{link.url}}" class="{{link.active}}">
                            <i class="fas fa-long-arrow-alt-right"></i>{{ link.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="content entry">
                    <div class="content entry">
                        <h3><strong>Day 1</strong></h3>
                        <p>Embarkation at Anilao Pier<br>
                            Check-in onboard the Explorer<br>
                            Dinner onboard<br>
                            Departure for Apo Reef ETD 2100H</p>
                        <h3><strong>Day 2</strong></h3>
                        <p><strong>Location: Apo Reef ( Reef Diving )<br>
                            </strong></p>
                        <h3>Day 3</h3>
                        <p><strong>Location: Sangat Reserve ( Wreck Diving )<br>
                            </strong></p>
                        <h3>Day 4</h3>
                        <p><strong>Location: <strong>Sangat Reserve ( Wreck Diving )</strong><br>
                            </strong></p>
                        <h3>Day 5</h3>
                        <p><strong>Location: <strong>Sangat Reserve ( Wreck Diving )</strong><br>
                            </strong></p>
                        <h3>Day 6</h3>
                        <p><strong>Location: Siyete Pecados / Barracuda Lake ( reef diving)<br>
                            </strong></p>
                        <h3>Day 7</h3>
                        <p><strong>Location: Anilao Port</strong></p>
                        <p>Disembark at Anilao Pier.</p>
                        <p><em>This is a sample&nbsp;itinerary and it may change depending on weather conditions and preferences of our
                                guests.</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>