<div class="section-title-page area-bg area-bg_dark area-bg_op_60">
    <div class="area-bg__inner">
        <div class="container text-center">
            <h1 class="b-title-page">{{title}}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-capitalize" *ngFor="let link of links; let last = last;">
                        <a [routerLink]="link.path" *ngIf="!last">{{link.data.label}}</a>
                        <span *ngIf="last">{{link.data.label}}</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- end .b-title-page-->