<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <main class="b-post-group_main">
            <div class="js-scroll-content">
                <section class="b-post b-post-2 row">
                    <div class="entry-media col-lg-6">
                        <a href="{{ location + '/tubbataha' }}">
                            <img class="img-scale" src="./assets/_live/img/tubbataha.jpg" alt="photo" assets="">
                        </a>
                    </div>
                    <div class="entry-main col-lg-6">
                        <div class="entry-header">
                            <h2 class="entry-title"><a href="{{ location + '/tubbataha' }}">Tubbataha</a></h2>
                        </div>
                        <div class="entry-content">Measuring 99,600 hectares in size, the Tubbataha Reef National Marine Park is made up of 2 atolls rising in the middle of the Sulu Sea. A Study by Conservation International has confirmed what Scientists long theorized, that it is the nursery for fish and coral larvae that populates the Sulu-Sulawesi Triangle  – an area that not only covers the most important and productive fishing grounds of the Philippines but extends as far south as Malaysia and Indonesia..</div>
                        <div class="entry-footer">
                            <a class="btn btn-default btn-tours" href="{{ location + '/tubbataha' }}">Learn More</a>
                        </div>
                    </div>
                </section>
                <!-- end .b-post-->
                <section class="b-post b-post-2 row">
                    <div class="entry-media col-lg-6">
                        <img class="img-scale" src="./assets/_live/img/apo.jpg" alt="photo" assets="">
                    </div>
                    <div class="entry-main col-lg-6">
                        <div class="entry-header">
                            <h2 class="entry-title">Apo Reef</h2>
                        </div>
                        <div class="entry-content">The location and isolation of Apo Reef serves as filter for the marine stocks of the Sulu and South China Seas. The diverse marine life with more than 385 species of fish make every dive unique and unforgetable!</div>
                    </div>
                </section>
                <!-- end .b-post-->
                <section class="b-post b-post-2 row">
                    <div class="entry-media col-lg-6">
                        <a href="{{ location + '/apo-reef-and-coron' }}">
                            <img class="img-scale" src="./assets/_live/img/apo_coron.jpg" alt="photo" assets="">
                        </a>
                    </div>
                    <div class="entry-main col-lg-6">
                        <div class="entry-header">
                            <h2 class="entry-title"><a href="{{ location + '/apo-reef-and-coron' }}">Apo Reef & Coron</a></h2>
                        </div>
                        <div class="entry-content">Apo Reef is under the Municipal Jurisdiction of Sablayan, Occidental Mindoro. The location and isolation of Apo Reef serves as filter for the marine stocks of the Sulu and South China Seas. It is characterized by two season: dry from December to May and wet from June to November with average humidity of 75% almost year round.Changes in weather condition doesn’t affect diving visibility. You can visit Apo Reef the whole year round!..</div>
                        <div class="entry-footer">
                            <a class="btn btn-default btn-tours" href="{{ location + '/apo-reef-and-coron' }}">Learn More</a>
                        </div>
                    </div>
                </section>
                <!-- end .b-post-->
            </div>
        </main>
    </div>
</div>