<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="content entry">
            <p class="text-center"><em>Please contact us in advance for reservations and availability</em></p>
    <h3 class="text-center"><img class="alignleft" alt="Scuba Diving Equipment Philippines" src="/assets/_live/img/equipment-rentals.png" width="149" height="165"></h3>
    <table border="0" style="margin: auto;">
    <tbody>
    <tr>
    <td>BCD</td>
    <td>US $ 9.00/day</td>
    </tr>
    <tr>
    <td>Regulator</td>
    <td>US $ 9.00/day<strong><br>
    </strong></td>
    </tr>
    <tr>
    <td><strong><span style="font-weight: normal;" data-mce-mark="1">Fins (full foot)</span><br>
    </strong></td>
    <td>US $ 5.00/day<strong><br>
    </strong></td>
    </tr>
    <tr>
    <td><strong><span style="font-weight: normal;" data-mce-mark="1">Fins (open heel)</span><br>
    </strong></td>
    <td>US $ 5.00/day<strong><br>
    </strong></td>
    </tr>
    <tr>
    <td>Booties</td>
    <td>US $ 2.00/day<strong><br>
    </strong></td>
    </tr>
    <tr>
    <td>Mask</td>
    <td>US $ 5.00/day<strong><br>
    </strong></td>
    </tr>
    <tr>
    <td>Mask and Fin Set</td>
    <td>US $ 9.00/day</td>
    </tr>
    <tr>
    <td>Snorkel</td>
    <td>US $ 1.00/day<strong><br>
    </strong></td>
    </tr>
    <tr>
    <td>Wetsuit</td>
    <td>US $ 5.00/day</td>
    </tr>
    <tr>
    <td>Computer</td>
    <td>US $ 9.00/day</td>
    </tr>
    <tr>
    <td>Full Gear (Wetsuit, Mask, Fins, and Booties)</td>
    <td>US $ 30.00/day</td>
    </tr>
    <tr>
    <td>Full Gear* (w/ computer)</td>
    <td>US $ 38.00/day</td>
    </tr>
    <tr>
    <td>Torch</td>
    <td>US $ 4.00/day</td>
    </tr>
    <tr>
    <td>Nitrox Tank 32%</td>
    <td><span style="font-weight: normal;">US $ 25.00/day(unlimited)</span></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    </tr>
    </tbody>
    </table>
                                    
              
            </div>
    </div>
</div>