<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-4">
                <h2 class="b-goods-f__title">Tubbataha</h2>
                <ul class="arrow-list">
                    <li *ngFor="let link of links">
                        <a href="{{link.url}}" class="{{link.active}}">
                            <i class="fas fa-long-arrow-alt-right"></i>{{ link.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="content entry entry-days">
                    <h2 class="ui-title">Days</h2>
                    <div class="ui-accordion accordion mt-3" id="accordion-1">
                        <div class="card">
                            <div class="card-header" id="heading1">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse1" aria-expanded="false" aria-controls="collapse1"><span
                                            class="ui-accordion__number">01</span>Transition Trip 1 : 8 days/7 nights<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse1" data-aria-labelledby="heading1"
                                data-parent="#accordion-1">
                                <div class="card-body">
                                    <div class="content entry">
                                        <h3>Day 1</h3>
                                        <p>Boarding in Anilao, Pier (Anilao, Batangas)</p>
                                        <p><em>**Land transfer from Manila is not included in the package</em></p>
                                        <p>1800H Departure to Apo Reef, Mindoro. (ETD)</p>
                                        <p>Accommodation and meals onboard Explorer</p>
                                        <h3>Day 2</h3>
                                        <p><strong>Location: Apo Reef, Mindoro<br>
                                            </strong></p>
                                        <p>Arrive Apo Reef at 0500H (ETA)</p>
                                        <p>Dive site briefing, day diving only<em> (2-3 dives)</em></p>
                                        <p>Depart Apo reef, Mindoro for Santa Filomena Shoal, Cuyo Island group at 1800H
                                            (ETD)</p>
                                        <h3>Day 3</h3>
                                        <p><strong>Location: Cuyo Island, Palawan<br>
                                            </strong></p>
                                        <p>Arrive Santa Filomena Shoal, Cuyo Island Group at 0700H (ETA)</p>
                                        <p>Dive site briefing, day diving only <em>(2-3 dives)</em></p>
                                        <p>Depart Santa Filomena Shoal, Cuyo Island group for Bird Island, North
                                            Tubbataha at 1800H (ETD)</p>
                                        <h3>Day 4</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Arrive at Bird Island, North Tubbataha</p>
                                        <p>Whole day diving at North Tubbataha<strong> (4 dives including night
                                                dive)</strong></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Bird Island, Ranger Station,
                                            South Rock</p>
                                        <p>Early morning departure for the Lighthouse, South Tubbataha</p>
                                        <h3>Day 5</h3>
                                        <p><strong>Location: South Tubbataha </strong></p>
                                        <p>Arrive Lighthouse, South Tubbataha</p>
                                        <p>Whole day diving at South Tubbataha <strong>(4 dives including night
                                                dive)</strong></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Black Rock</p>
                                        <p>Early morning departure for Light House, South Tubbataha</p>
                                        <h3>Day 6</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Whole day diving at South Tubbataha (<strong>4 dives including night
                                                dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Lighthouse Islet</p>
                                        <h3>Day 7</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Day diving only (<strong>2-3 dives</strong>)</p>
                                        <p>Evening departure for Puerto Princesa City</p>
                                        <h3>Day 8</h3>
                                        <p>Arrival in Puerto Princesa City</p>
                                        <p>Breakfast onboard</p>
                                        <p>Transfer to Airport</p>
                                        <p><em> Note: <span style="color: #333333;"><strong>The above is a suggested
                                                        itinerary ONLY. Timings/dive sites are subject to change
                                                        depending on tide, current, weather, sea and safety
                                                        considerations. </strong></span></em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"><span
                                            class="ui-accordion__number">02</span>Transition Trip 2 : 8 days/7 nights<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse2" data-aria-labelledby="heading2"
                                data-parent="#accordion-1">
                                <div class="card-body">
                                    <div class="content entry">
                                        <h3>Day 1</h3>
                                        <p>Arrival in Puerto Princesa. Check-in onboard</p>
                                        <p>Briefing of Boat Manager/Dive Master</p>
                                        <p>1800H Departure to Tubbataha Reef (ETD)</p>
                                        <p>Accommodation and meals onboard Explorer</p>
                                        <h3>Day 2</h3>
                                        <p><strong>Location: South Tubbataha<br>
                                            </strong></p>
                                        <p>Whole day diving at South Tubbataha <em>(4 dives including night dive)</em>
                                        </p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Lighthouse Islet</p>
                                        <h3>Day 3</h3>
                                        <p><strong>Location: South Tubbataha<br>
                                            </strong></p>
                                        <p>Arrive Lighthouse, South Tubbataha</p>
                                        <p>Whole day diving at South Tubbataha <em>(4 dives including night dive)</em>
                                        </p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Black Rock</p>
                                        <h3>Day 4</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Arrive at Bird Island, North Tubbataha</p>
                                        <p>Whole day diving at North Tubbataha<strong> (4 dives including night
                                                dive)</strong></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Bird Island, Ranger Station,
                                            South Rock</p>
                                        <h3>Day 5</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Whole day diving at North Tubbataha <strong>(4 dives including night
                                                dive)</strong></p>
                                        <h3>Day 6</h3>
                                        <p><strong>Location: Cuyo Island<br>
                                            </strong></p>
                                        <p>Arrive Santa Filomena Shoal, Cuyo Island Group at 0700H (ETA)</p>
                                        <p>Dive site briefing, day diving only <em>(2-3 dives)</em></p>
                                        <p>Depart Santa Filomena Shoal, Cuyo Island group for Apo Reef, Mindoro at 1800H
                                            (ETD)</p>
                                        <h3>Day 7</h3>
                                        <p><strong>Location: Apo Reef, Mindoro</strong></p>
                                        <p>Arrive Apo Reef at 0500H (ETA)</p>
                                        <p>Dive site briefing, day diving only<em> (2-3 dives)</em></p>
                                        <p>Depart Apo reef, Mindoro for Anilao, Batangas at 1800H (ETD)<strong><br>
                                            </strong></p>
                                        <h3>Day 8</h3>
                                        <p>Arrival in Anilao, Batangas</p>
                                        <p>Breakfast onboard</p>
                                        <p>Disembark</p>
                                        <p><em>**Land transfer from Anilao, Batangas is not included in the package</em>
                                        </p>
                                        <p><em> Note:<span style="color: #333333;"> <strong>The above is a suggested
                                                        itinerary ONLY. Timings/dive sites are subject to change
                                                        depending on tide, current, weather, sea and safety
                                                        considerations. </strong></span></em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"><span
                                            class="ui-accordion__number">03</span>Regular Trip: 7 days/6 nights<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse3" data-aria-labelledby="heading3"
                                data-parent="#accordion-1">
                                <div class="card-body">
                                    <div class="content entry">
                                        <h3>Day 1</h3>
                                        <p>Arrival in Puerto Princesa. Check-in onboard</p>
                                        <p>Briefing of Boat Manager/Dive Master</p>
                                        <p>1800H Departure to Tubbataha Reef (ETD)</p>
                                        <p>Accommodation and meals onboard Explorer</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 2</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Arrive at Bird Island, North Tubbataha</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Shark Airport, Washing Machine
                                            (Larry’s Reef), Seafan alley</p>
                                        <p>Whole day diving at North Tubbataha (<strong>4 dives including night
                                                dive</strong>)</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 3</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Whole Day Diving at North Tubbataha (<strong>4 dives including night
                                                dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Ranger Station, Amos Rock</p>
                                        <p>Early morning departure for Light House, South Tubbataha</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 4</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Arrive Lighthouse, South Tubbataha</p>
                                        <p>Whole day diving at South Tubbataha (<strong>4 dives including night
                                                dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Black Rock, North wall of South
                                            Atoll</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 5</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Whole day diving at South Tubbataha (<strong>4 dives including night
                                                dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Light House, Delsan Wreck,
                                            Staghorn Point</p>
                                        <p><strong><br>
                                            </strong></p>
                                        <h3>Day 6</h3>
                                        <p><strong>Location: South or North Tubbataha</strong></p>
                                        <p>Day Diving only (2-3 dives)</p>
                                        <p>Departure for Puerto Princesa City</p>
                                        <h3>Day 7</h3>
                                        <p>Arrival in Puerto Princesa City</p>
                                        <p>Breakfast onboard</p>
                                        <p>Transfer to Airport</p>
                                        <p><strong>&nbsp;</strong></p>
                                        <p><em> Note: <span style="color: #333333;"><strong>The above is a suggested
                                                        itinerary ONLY. Timings/dive sites are subject to change
                                                        depending on tide, current, weather, sea and safety
                                                        considerations. </strong></span></em></p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Customized itinerary for extended days for Group Bookings available</p>
                </div>
                <div class="content entry entry-boat">
                    <h2 class="ui-title">Boat</h2>
                    <p>
                        <a title="Stella Maris Boat Specifications" href="/about/our-fleet/stella-maris-explorer">
                            <img alt="Scuba Diving Tubbataha" src="/assets/_live/img/fleet/stella.jpg" width="206"
                                height="99">
                        </a>&nbsp;
                        <a title="Oceanic Explorer" href="/about/our-fleet/oceanic-explorer">
                            <img alt="Scuba Diving Tubbataha" src="/assets/_live/img/fleet/oceanic.jpg" width="206"
                                height="99">
                        </a>
                    </p>
                </div>
                <div class="content entry entry-schedules">
                    <h3>MY Stella Maris Explorer | MV Oceanic Explorer Schedule 2022</h3>
                    <table class="table-striped" width="754" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <td height="20">Date</td>
                                <td>Days</td>
                                <td>Trips</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td height="20">March 24 to 31 2022</td>
                                <td>8D/7N</td>
                                <td>Transition Trip 1</td>
                            </tr>
                            <tr>
                                <td height="20">April 01 to 07, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 08 to 14, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 15 to 21, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 22 to 28, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 29 to May 05, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 06 to 12, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 13 to 19, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 20 to 26, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 27 to June 02, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 03 to 09, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 10 to 16, 2022</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 17 to 24, 2022</td>
                                <td>8D/7N</td>
                                <td>Transition Trip 2</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>MY Stella Maris Explorer | MV Oceanic Explorer Schedule 2023</h3>
                    <table class="table-striped" width="754" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <td height="20">Date</td>
                                <td>Days</td>
                                <td>Trips</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td height="20">March 15 to 22, 2023</td>
                                <td>8D/7N</td>
                                <td>Transition Trip 1</td>
                            </tr>
                            <tr>
                                <td height="20">March 23 to 29, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">March 30 to April 05, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 06 to 12, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 13 to 19, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 20 to 26, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 27 to May 03, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 04 to 10, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 11 to 17, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 18 to 24, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 25 to 31, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 01 to 07, 2023</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 08 to 14, 2023</td>
                                <td>8D/7N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 15 to 21, 2023</td>
                                <td>8D/7N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 17 to 24, 2023</td>
                                <td>8D/7N</td>
                                <td>Transition Trip 2</td>
                            </tr>
                        </tbody>
                    </table>

                    <h3>MY Stella Maris Explorer | MV Oceanic Explorer Schedule 2024</h3>
                    <table class="table-striped" width="754" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <td height="20">Date</td>
                                <td>Days</td>
                                <td>Trips</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td height="20">March 13 to 20, 2024</td>
                                <td>8D/7N</td>
                                <td>Transition Trip 1</td>
                            </tr>
                            <tr>
                                <td height="20">March 21 to 27, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">March 28 to April 03, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 04 to 10, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 11 to 17, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 18 to 24, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">April 25 to May 01, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 02 to 08, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 09 to 15, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 16 to 22, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 23 to 29, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">May 30 to June 05, 2024</td>
                                <td>7D/6N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 06 to 12, 2024</td>
                                <td>8D/7N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 13 to 19, 2024</td>
                                <td>8D/7N</td>
                                <td>Regular Trip</td>
                            </tr>
                            <tr>
                                <td height="20">June 20 to 27, 2024</td>
                                <td>8D/7N</td>
                                <td>Transition Trip 2</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="mt-3">Kindly email&nbsp;<a
                            href="mailto:expeditionfleet1539@gmail.com">expeditionfleet1539@gmail.com</a>&nbsp;for
                        latest availability.</p>
                </div>
                <div class="content entry entry-rates">
                    <h3>Rates 2021</h3>
                    <table class="table-striped" width="754" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="183" height="20"><em><strong>STELLA MARIS</strong></em></td>
                                <td width="156"><strong><em>7D/6N (Regular Trip)</em></strong></td>
                                <td width="243"><strong><em>8D/7N (Transition/Regular Trip)</em></strong></td>
                            </tr>
                            <tr>
                                <td height="20">Deluxe ( B1,B2, B3 )</td>
                                <td>USD 3,150 ( Twin Sharing )</td>
                                <td>USD 3,250 ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Standard</td>
                                <td>USD 2,950 ( Twin Sharing )</td>
                                <td>USD 3,050 ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Premium Economy</td>
                                <td>USD 3,000 ( Twin Sharing )</td>
                                <td>USD 3,100 ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                                <td>USD 2,650 ( Triple Sharing )</td>
                                <td>USD 2,750 ( Triple Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Economy</td>
                                <td>USD 2,650 ( Twin Sharing )</td>
                                <td>USD 2,750 ( Twin Sharing )</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table-striped mt-3" width="754" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="20"><em><strong>OCEANIC EXPLORER</strong></em></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td height="20">DeLuxe</td>
                                <td>USD 2,850 ( Twin Sharing )</td>
                                <td>USD 2,950 ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Standard</td>
                                <td>USD 2,650 ( Twin Sharing )</td>
                                <td>USD 2,750 ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Economy</td>
                                <td>USD 2,450 ( Twin Sharing)</td>
                                <td>USD 2,550 ( Twin Sharing)</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mt-3">
                        <p>Note: All costs are inclusive of Dive Permits, Port and Entry Fees.</p>
                        <p><em>Rates are subject to change without prior notice</em></p>
                        <p><em>*Please note that all Economy Rooms are with low ceilings.</em></p>
                    </div>

                    <div>
                        <dl id="dl">
                            <dt>
                                <img alt="" src="/assets/_live/img/memory-foam-pillow-pics-300x133.jpg" width="300"
                                    height="133">
                            </dt>
                            <dd>Memory Foam Pillows</dd>
                        </dl>
                        <p><em>**All rooms with hypoallergenic memory foam beds and pillows.</em></p>
                    </div>
                </div>
                <div class="content entry entry-package">
                    <h3>Package Inclusions</h3>
                    <ul>
                        <li>Aircon accommodation on board with toilet and bath</li>
                        <li>Full board meals ( Buffet ) with unlimited drinking water, freshly brewed coffee and tea.
                        </li>
                        <li>4 dives/day <em>( No night dives )</em></li>
                        <li>Free use of tanks, weights and belts, chase boat and services of a dive masters</li>
                        <li>Free Land transfers to boat from airport/Puerto Princesa hotels ( Roundtrip Puerto Princesa
                            airport/hotel to Pier)</li>
                        <li>Unlimited drinking water</li>
                        <li>Dive Permits, Port and Entry Fees.</li>
                    </ul>
                    <p style="padding-left: 30px;">**<strong>NITROX IS FREE</strong></p>
                    <p>All De Luxe rooms come with private camera /charging stations, led display monitor and in room
                        Nespresso coffee machine.</p>
                    <h3>Package Exclusions</h3>
                    <ul>
                        <li>Land transfers: Manila/Anilao, Anilao/Manila (transition trips)</li>
                        <li>Domestic air tickets: Manila/Puerto Princesa/Manila</li>
                        <li>Alcoholic drinks and soda</li>
                        <li>Gear Rentals</li>
                    </ul>
                </div>
                <div class="content entry entry-location">
                    <h3>How To Get There</h3>
                    <p>
                        <b>Take Cebu Pacific or Philippine Airlines flights from Manila to Puerto Princesa.<br>
                        Manila (MNL ) to Puerto Princesa (PP).</b>
                    </p>
                    <h5>Cebu Pacific Airlines( excess baggage fees of 5 USD+ /kilo)</h5>
                    <p>5J637 MNL/PPS 0805 – 0925<br>
                        5J635 MNL/PPS 1000 – 1120<br>
                        5J639 MNL/PPS 1540 – 1655</p>
                    <p>5J638 PPS/MNL 1005 – 1120<br>
                        5J636 PPS/MNL 1200 – 1320<br>
                        5J640 PPS/MNL 1735 – 1850</p>
                    <h5>Philippine Airlines or PAL express</h5>
                    <p>2P941 MNLPPS 0640 – 0800<br>
                        2P943 MNLPPS 1325 – 1445<br>
                        2P947 MNLPPS 1610 – 1730<br>
                        2P789 MNLPPS 1840 – 2000</p>
                    <p>2P942 PPSMNL 0830 – 0945<br>
                        2P944 PPSMNL 1515 – 1635<br>
                        2P948 PPSMNL 1800 – 1920<br>
                        2P790 PPSMNL 2030 – 2150</p>
                </div>
                <div class="content entry entry-flight">
                    <h3>Herewith are some information to help you book your flight schedules :</h3>
                    <ol>
                        <li>The boat travels overnight to Tubbataha reef on the day of departure and return so you can count on your first dive (conditions permitting) in the early morning on the second day of your booking and your last dive on the evening before the last day of your booking.</li>
                        <li>Flights between Manila and Puerto Princesa are often delayed so it is recommended to book your flights with arrival well before 4pm on the day of departure. Extra time can be used to organize your gear on the boat. You might also want to consider arriving a day earlier and do an Underground River Tour.</li>
                        <li>Departure flights are recommended 24 hours after your last dive. If you plan to dive in the evening the day before the overnight return trip to Puerto Princessa, it is recommended to schedule your departure flight in the late afternoon or evening on the last day of your trip.</li>
                    </ol>
                </div>

                <p class="mt-3">
                    <a href="/contact-us">
                        <img alt="Scuba Diving Tubbataha" src="/assets/_live/img/book.png" width="278" height="74">
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>