<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-4">
                <h2 class="b-goods-f__title">Apo Reef & Coron</h2>
                <ul class="arrow-list">
                    <li *ngFor="let link of links">
                        <a href="{{link.url}}" class="{{link.active}}">
                            <i class="fas fa-long-arrow-alt-right"></i>{{ link.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="content entry entry-days">
                    <h2 class="ui-title">Days</h2>
                    <p>October to February: 8 days / 7 nights Liveaboard Package</p>
                </div>
                <div class="content entry entry-boat">
                    <h2 class="ui-title">Boat</h2>
                    <p>
                        <a title="Stella Maris Boat Specifications" href="/about/our-fleet/stella-maris-explorer">
                            <img alt="Scuba Diving Tubbataha" src="/assets/_live/img/fleet/stella.jpg" width="206"
                                height="99">
                        </a>
                    </p>
                </div>
                <div class="content entry entry-schedules">
                    <h3>Apo Reef – Verde Island – Puerto Galera MY Stella Maris Explorer Schedule 2018</h3>
                    <table class="table-striped" width="754" border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <td height="20">Date</td>
                                <td>Days</td>
                                <td>Trips</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td height="20">December 01 – 08, 2018</td>
                                <td>8D/7N</td>
                                <td>Regular</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="mt-3">Kindly email&nbsp;<a
                            href="mailto:expeditionfleet1539@gmail.com">expeditionfleet1539@gmail.com</a>&nbsp;for
                        latest availability.</p>
                </div>
                <div class="content entry entry-rates">
                    <table class="table-striped" width="754" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="183" height="20"><em><strong>Rates 2018</strong></em></td>
                                <td width="156"><strong><em>Transition/Regular Trip</em></strong></td>
                            </tr>
                            <tr>
                                <td height="20">Deluxe B1 & B3</td>
                                <td>USD $2,700/pax ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Deluxe B2</td>
                                <td>USD $2,650/pax ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Premium Economy</td>
                                <td>USD 3,000 ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Standard A1 – A4</td>
                                <td>USD $2,500/pax ( Twin Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Premium Economy Room C3</td>
                                <td>USD $2,200/pax ( Triple Sharing )</td>
                            </tr>
                            <tr>
                                <td height="20">Economy Room C1 and C2</td>
                                <td>USD $2,200/pax ( Twin Sharing )</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mt-3">
                        <p>Note: All costs are inclusive of Dive Permits, Port and Entry Fees.</p>
                        <p><em>Rates are subject to change without prior notice</em></p>
                        <p><em>*Please note that all Economy Rooms are with low ceilings.</em></p>
                    </div>

                    <div>
                        <dl id="dl">
                            <dt>
                                <img alt="" src="/assets/_live/img/memory-foam-pillow-pics-300x133.jpg" width="300"
                                    height="133">
                            </dt>
                            <dd>Memory Foam Pillows</dd>
                        </dl>
                        <p><em>**All rooms with hypoallergenic memory foam beds and pillows.</em></p>
                    </div>
                </div>
                <div class="content entry entry-package">
                    <h3>Package Inclusions</h3>
                    <ul>
                        <li>8 days/7 nights aircon accommodation on board</li>
                        <li>Full board meals</li>
                        <li>Unlimited Drinking water, fresh fruit, juices, coffee and tea</li>
                        <li>Use of tanks, weights, weight belt, boat and services of a Divemaster</li>
                        <li>Free use of Nitrox</li>
                    </ul>
                </div>
                <div class="content entry entry-package">
                    <h3>Package Exclusions</h3>
                    <ul>
                        <li>Land transfers</li>
                        <li>Alcoholic drinks and sodas</li>
                        <li><a href="/equipment-rentals">Equipment rental </a></li>
                        <li>Nitrox fills</li>
                        <li>Dive Permits</li>
                        <li>Dive and travel insurance</li>
                        <li>Other incidental expenses</li>
                    </ul>
                </div>
                <div class="content entry entry-location">
                    <h3>How To Get There</h3>
                    <p>Embarkation point is at the Anilao Pier in Anilao, Batangas.</p>
                </div>

                <p class="mt-3">
                    <a href="/contact-us">
                        <img alt="Scuba Diving Tubbataha" src="/assets/_live/img/book.png" width="278" height="74">
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>