<div class="l-main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="ui-title">Contact Details</h2>
                <img src="./assets/img/decore03.png" alt="photo">
                <div class="footer-contacts">
                    <div class="footer-contacts__item mt-5">
                        <h5>TUBBATAHA – SCUBA DIVING PHILIPPINES</h5>
                    </div>
                    <div class="footer-contacts__item mt-3">
                        <i class="ic icon-envelope"></i>
                        KINDLY SEND US AN E-MAIL:<br/>
                        EXPEDITIONFLEET1539@GMAIL.COM
                    </div>
                    <div class="footer-contacts__item mt-3">
                        <i class="ic icon-earphones-alt"></i> 
                        CONTACT NO.:<br/>
                        +632 577 4305 | +63 917 550 1936 
                    </div>
                </div>
                <ul class="footer-soc list-unstyled">
                    <li class="footer-soc__item">
                        <a class="footer-soc__link" href="http://www.facebook.com/pages/Expedition-Fleet/119965274732203" target="_blank">
                            <i class="ic fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="footer-soc__item">
                        <a class="footer-soc__link" href="http://www.youtube.com/user/expeditionfleet" target="_blank">
                            <i class="ic fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="text-left">
                    <h2 class="ui-title">Contact Us Form</h2>
                    <img src="./assets/img/decore03.png" alt="photo">
                    <form action="#">
                        
                        <div class="row row-form-b">
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="First Name"> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Last Name"> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email"> </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Phone"> </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Subject"> </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Message"></textarea>
                            </div>
                        </div>
                    <div class="col-md-12">
                        <button class="b-main-filter__btn btn btn-secondary">Submit</button>
                    </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>