<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-4">
                <h2 class="b-goods-f__title">Tubbataha</h2>
                <ul class="arrow-list">
                    <li *ngFor="let link of links">
                        <a href="{{link.url}}" class="{{link.active}}">
                            <i class="fas fa-long-arrow-alt-right"></i>{{ link.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="content entry">
                    <div class="ui-accordion accordion" id="accordion-1">
                        <div class="card">
                            <div class="card-header" id="heading1">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse1" aria-expanded="false" aria-controls="collapse1"><span
                                            class="ui-accordion__number">01</span>Tubbataha Regular Trip: (7DAYS/6NIGHTS/5DIVING DAYS)
                                        <i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse1" data-aria-labelledby="heading1"
                                data-parent="#accordion-1">
                                <div class="card-body">
                                    <div class="content entry">
                                        <h3>Day 1</h3>
                                        <p>Arrival in Puerto Princesa. Check-in onboard</p>
                                        <p>Briefing of Boat Manager/Dive Master</p>
                                        <p>1800H Departure to Tubbataha Reef (ETD)</p>
                                        <p>Accommodation and meals onboard Explorer</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 2</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Arrive at Bird Island, North Tubbataha</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Shark Airport, Washing Machine (Larry’s Reef), Seafan alley</p>
                                        <p>Whole day diving at North Tubbataha (<strong>4 dives including night dive</strong>)</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 3</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Whole Day Diving at North Tubbataha (<strong>4 dives including night dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Ranger Station, Amos Rock</p>
                                        <p>Early morning departure for Light House, South Tubbataha</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 4</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Arrive Lighthouse, South Tubbataha</p>
                                        <p>Whole day diving at South Tubbataha (<strong>4 dives including night dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Black Rock, North wall of South Atoll</p>
                                        <p>&nbsp;</p>
                                        <h3>Day 5</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Whole day diving at South Tubbataha (<strong>4 dives including night dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Light House, Delsan Wreck, Staghorn Point</p>
                                        <p><strong><br>
                                        </strong></p>
                                        <h3>Day 6</h3>
                                        <p><strong>Location: South or North Tubbataha</strong></p>
                                        <p>Day Diving only (2-3 dives)</p>
                                        <p>Departure for Puerto Princesa City</p>
                                        <h3>Day 7</h3>
                                        <p>Arrival in Puerto Princesa City</p>
                                        <p>Breakfast onboard</p>
                                        <p>Transfer to Airport</p>
                                        <p><strong>&nbsp;</strong></p>
                                        <p><em> Note: <span style="color: #333333;"><strong>The above is a suggested itinerary ONLY. Timings/dive sites are subject to change depending on tide, current, weather, sea and safety considerations. </strong></span></em></p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"><span
                                            class="ui-accordion__number">02</span>Tubbataha Transition Trip 1: (8DAYS/7NIGHTS/6DIVING DAYS)
                                        <i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse2" data-aria-labelledby="heading2"
                                data-parent="#accordion-1">
                                <div class="card-body">
                                    <div class="content entry">
                                        <h3>Day 1</h3>
                                        <p>Boarding in Anilao, Pier (Anilao, Batangas)</p>
                                        <p><em>**Land transfer from Manila is not included in the package</em></p>
                                        <p>1800H Departure to Apo Reef, Mindoro. (ETD)</p>
                                        <p>Accommodation and meals onboard Explorer</p>
                                        <h3>Day 2</h3>
                                        <p><strong>Location: Apo Reef, Mindoro<br>
                                        </strong></p>
                                        <p>Arrive Apo Reef at 0500H (ETA)</p>
                                        <p>Dive site briefing, day diving only<em> (2-3 dives)</em></p>
                                        <p>Depart Apo reef, Mindoro for Santa Filomena Shoal, Cuyo Island group at 1800H (ETD)</p>
                                        <h3>Day 3</h3>
                                        <p><strong>Location: Cuyo Island, Palawan<br>
                                        </strong></p>
                                        <p>Arrive Santa Filomena Shoal, Cuyo Island Group at 0700H (ETA)</p>
                                        <p>Dive site briefing, day diving only <em>(2-3 dives)</em></p>
                                        <p>Depart Santa Filomena Shoal, Cuyo Island group for Bird Island, North Tubbataha at 1800H (ETD)</p>
                                        <h3>Day 4</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Arrive at Bird Island, North Tubbataha</p>
                                        <p>Whole day diving at North Tubbataha<strong> (4 dives including night dive)</strong></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Bird Island, Ranger Station, South Rock</p>
                                        <p>Early morning departure for the Lighthouse, South Tubbataha</p>
                                        <h3>Day 5</h3>
                                        <p><strong>Location: South Tubbataha </strong></p>
                                        <p>Arrive Lighthouse, South Tubbataha</p>
                                        <p>Whole day diving at South Tubbataha <strong>(4 dives including night dive)</strong></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Black Rock</p>
                                        <p>Early morning departure for Light House, South Tubbataha</p>
                                        <h3>Day 6</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Whole day diving at South Tubbataha (<strong>4 dives including night dive</strong>)</p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Lighthouse Islet</p>
                                        <h3>Day 7</h3>
                                        <p><strong>Location: South Tubbataha</strong></p>
                                        <p>Day diving only (<strong>2-3 dives</strong>)</p>
                                        <p>Evening departure for Puerto Princesa City</p>
                                        <h3>Day 8</h3>
                                        <p>Arrival in Puerto Princesa City</p>
                                        <p>Breakfast onboard</p>
                                        <p>Transfer to Airport</p>
                                        <p><em> Note: <span style="color: #333333;"><strong>The above is a suggested itinerary ONLY. Timings/dive sites are subject to change depending on tide, current, weather, sea and safety considerations. </strong></span></em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"><span
                                            class="ui-accordion__number">03</span>Tubbataha Transition Trip 2: (8DAYS/7NIGHTS/6DIVING DAYS)<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse3" data-aria-labelledby="heading3"
                                data-parent="#accordion-1">
                                <div class="card-body">
                                    <div class="content entry">
                                        <h3>Day 1</h3>
                                        <p>Arrival in Puerto Princesa. Check-in onboard</p>
                                        <p>Briefing of Boat Manager/Dive Master</p>
                                        <p>1800H Departure to Tubbataha Reef (ETD)</p>
                                        <p>Accommodation and meals onboard Explorer</p>
                                        <h3>Day 2</h3>
                                        <p><strong>Location: South Tubbataha<br>
                                        </strong></p>
                                        <p>Whole day diving at South Tubbataha <em>(4 dives including night dive)</em></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Lighthouse Islet</p>
                                        <h3>Day 3</h3>
                                        <p><strong>Location: South Tubbataha<br>
                                        </strong></p>
                                        <p>Arrive Lighthouse, South Tubbataha</p>
                                        <p>Whole day diving at South Tubbataha <em>(4 dives including night dive)</em></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Black Rock</p>
                                        <h3>Day 4</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Arrive at Bird Island, North Tubbataha</p>
                                        <p>Whole day diving at North Tubbataha<strong> (4 dives including night dive)</strong></p>
                                        <p><strong>Dive</strong> <strong>Sites</strong>: Bird Island, Ranger Station, South Rock</p>
                                        <h3>Day 5</h3>
                                        <p><strong>Location: North Tubbataha </strong></p>
                                        <p>Whole day diving at North Tubbataha <strong>(4 dives including night dive)</strong></p>
                                        <h3>Day 6</h3>
                                        <p><strong>Location: Cuyo Island<br>
                                        </strong></p>
                                        <p>Arrive Santa Filomena Shoal, Cuyo Island Group at 0700H (ETA)</p>
                                        <p>Dive site briefing, day diving only <em>(2-3 dives)</em></p>
                                        <p>Depart Santa Filomena Shoal, Cuyo Island group for Apo Reef, Mindoro at 1800H (ETD)</p>
                                        <h3>Day 7</h3>
                                        <p><strong>Location: Apo Reef, Mindoro</strong></p>
                                        <p>Arrive Apo Reef at 0500H (ETA)</p>
                                        <p>Dive site briefing, day diving only<em> (2-3 dives)</em></p>
                                        <p>Depart Apo reef, Mindoro for Anilao, Batangas at 1800H (ETD)<strong><br>
                                        </strong></p>
                                        <h3>Day 8</h3>
                                        <p>Arrival in Anilao, Batangas</p>
                                        <p>Breakfast onboard</p>
                                        <p>Disembark</p>
                                        <p><em>**Land transfer from Anilao, Batangas is not included in the package</em></p>
                                        <p><em> Note:<span style="color: #333333;"> <strong>The above is a suggested itinerary ONLY. Timings/dive sites are subject to change depending on tide, current, weather, sea and safety considerations. </strong></span></em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>