<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="fl--events-wrap">
            <div class="fl--events-featured-content-vc">
                <div
                    class="fl-events--featured-post post-209 events type-events status-publish has-post-thumbnail hentry">
                    <div class="fl-events-left-content col-md-4 bg-white d-flex"> 
                        <img src="./assets/_live/img/crew-gordos.jpg" alt="photo" class="w-auto mw-100 m-auto p-3">
                    </div>
                    <div class="fl-events-right-content col-md-8">

                        <h3 class="fl-entry-title">Our Boat Manager</h3>

                        <div class="fl-events-excerpt">
                            <p><strong>Name:</strong> Gordos Mateo R. Gojunco, EMT</p>
                            <p><strong>Diving since:</strong> 2003</p>
                            <p><strong>Certifications:</strong> PADI Scuba Instructor, NAUI Divemaster, NAUI Nitrox Diver, Emergency Medical Technician – Defibrillation, Emergency First Response Instructor, High Angle Rescue Technician, Advanced Cardiac Life Support Provider</p>
                            <p><strong>Nr. of Dives:</strong> 3'000+</p>
                            <p>I dove all around the Philippines and I’ve seen quite a lot of dive sites in Anilao (Batangas), Apo Reef, Puerto Galera, Malapascua Island, Coron and for sure the famous Tubbataha Reef, which is my favorite dive site. It is considered as the Mecca of Diving in the Philippines with nice, colorful walls and overhangs, good currents and a huge variety of marine life. I can’t wait for the next season!</p>
                            <p>I love teaching scuba, organizing and realizing dive trips and in general every activity under the sun!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fl--events-wrap">
            <div class="fl--events-featured-content-vc">
                <div
                    class="fl-events--featured-post post-209 events type-events status-publish has-post-thumbnail hentry">
                    
                    <div class="fl-events-left-content col-md-4 bg-white d-flex"> 
                        <img src="./assets/_live/img/crew-danny.jpg" alt="photo" class="w-auto mw-100 m-auto p-3">
                    </div>
                    <div class="fl-events-right-content col-md-8">

                        <h3 class="fl-entry-title">Our Dive Master</h3>

                        <div class="fl-events-excerpt">
                            <p><strong>Name:</strong> Danny Felizardo</p>
                            <p><strong>Diving Since:</strong> 1981</p>
                            <p><strong>Certifications:</strong> PADI Divemaster, CMAS Dive Master</p>
                            <p><strong>Nr. of Dives:</strong> 10’000+</p>
                            <p>When I’m not at sea, on one of our Liveaboards in Tubbataha Reef, Apo Reef or in the Visayas, I’m leading dives in our Anilao Outrigger Resort in Batangas. With one word, I spend most of my life “underwater” and I love what I’m doing.</p>
                            <p>I’m diving since more than 30 years now and I’ve experienced a lot, in and under water. From whale sharks who accidentally crossed my way, tiger sharks who were more surprised than I was to proposals underwater and even scuba weddings.</p>
                            <p>I don’t have a favorite dive site but I’m definitely looking forward to all the next Tubbataha seasons.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>