<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-4">
                <h2 class="b-goods-f__title">Apo Reef & Coron</h2>
                <ul class="arrow-list">
                    <li *ngFor="let link of links">
                        <a href="{{link.url}}" class="{{link.active}}">
                            <i class="fas fa-long-arrow-alt-right"></i>{{ link.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="content entry">
                    <div class="ui-accordion accordion mb-3" id="accordion-1">
                        <div class="card">
                            <div class="card-header" id="heading1">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link" type="button" data-toggle="collapse"
                                        data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><span
                                            class="ui-accordion__number">01</span>Where is Apo Reef?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse show" id="collapse1" data-aria-labelledby="heading1"
                                data-parent="#accordion-1">
                                <div class="card-body">Apo Reef is located in Sablayan ,Occidental Mindoro, Philippines.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"><span
                                            class="ui-accordion__number">02</span>When is the best time to go to Apo
                                        Reef?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse2" data-aria-labelledby="heading2"
                                data-parent="#accordion-1">
                                <div class="card-body">Diving in Apo Reef is all year round from July to February.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"><span
                                            class="ui-accordion__number">03</span>How do I get to Apo Reef?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse3" data-aria-labelledby="heading3"
                                data-parent="#accordion-1">
                                <div class="card-body">Apo Reef Liveaboard boarding is in Batangas (to be advised).
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"><span
                                            class="ui-accordion__number">04</span>How long does it take to go to
                                        Batangas? Can you arrange transfers going to Batangas?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse4" data-aria-labelledby="heading4"
                                data-parent="#accordion-1">
                                <div class="card-body">From Manila, it is approximately 2 ½ hours going to Batangas.
                                    Yes, 153 Island Cruise Republic can help you arrange your land transfers.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading5">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse5" aria-expanded="false" aria-controls="collapse5"><span
                                            class="ui-accordion__number">05</span>What is included in the Apo Reef
                                        Liveaboard Package?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse5" data-aria-labelledby="heading5"
                                data-parent="#accordion-1">
                                <div class="card-body">Accommodations on board, unlimited no decompression diving,
                                    tanks, weights, weight belt, boat, services of a divemaster, fullboard meals, and
                                    complimentary tea, coffee, juice.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading6">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse6" aria-expanded="false" aria-controls="collapse6"><span
                                            class="ui-accordion__number">06</span>How many dives they could do in one
                                        day?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse6" data-aria-labelledby="heading6"
                                data-parent="#accordion-1">
                                <div class="card-body">Guests can do maximum of 4 Dives a Day plus 1 night dive
                                    (optional).</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading7">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse7" aria-expanded="false" aria-controls="collapse7"><span
                                            class="ui-accordion__number">07</span>When should I arrive in Batangas for
                                        boarding?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse7" data-aria-labelledby="heading7"
                                data-parent="#accordion-1">
                                <div class="card-body">Guests should arrive in the afternoon, boarding time is 0600pm.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading8">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse8" aria-expanded="false" aria-controls="collapse8"><span
                                            class="ui-accordion__number">08</span>What are the taxes or fees not
                                        included in the package?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse8" data-aria-labelledby="heading8"
                                data-parent="#accordion-1">
                                <div class="card-body">The taxes that are not included in the package are the Apo Reef
                                    Conservation Fees which is US $35.00/person, gear rental, courses, drinks and
                                    souvenir items on board.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading9">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse9" aria-expanded="false" aria-controls="collapse9"><span
                                            class="ui-accordion__number">09</span>Do I need a Visa or Passport?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse9" data-aria-labelledby="heading9"
                                data-parent="#accordion-1">
                                <div class="card-body">A valid passport is required. Visas are not required for tourists
                                    who will stay only for 21 days provided that they have an onward or return journey
                                    tickets and do not belong to restricted nationality. For long staying guests visas
                                    are required, you can apply to your nearest Philippine consulate.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading10">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse10" aria-expanded="false" aria-controls="collapse10"><span
                                            class="ui-accordion__number">10</span>How will I go onboard the Explorer
                                        Boat?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse10" data-aria-labelledby="heading10"
                                data-parent="#accordion-1">
                                <div class="card-body">Upon arrival in the pier, our uniform Expedition Fleet staff will
                                    welcome you. It is also advisable to ask for the boat managers cellphone before
                                    boarding.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading11">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse11" aria-expanded="false" aria-controls="collapse11"><span
                                            class="ui-accordion__number">11</span>What is the weather in Philippines?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse11" data-aria-labelledby="heading11"
                                data-parent="#accordion-1">
                                <div class="card-body">The Philippines is a tropical country with an average temperature
                                    of 32°C (80°F). March to June is hot and dry (36°C); rains and typhoons abound from
                                    July to October; November to February is pleasantly cool ( around 23°C) and dry.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading12">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse12" aria-expanded="false" aria-controls="collapse12"><span
                                            class="ui-accordion__number">12</span>Is there a night dive?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse12" data-aria-labelledby="heading12"
                                data-parent="#accordion-1">
                                <div class="card-body">Yes there is, please take a look our sample itinerary.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading13">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse13" aria-expanded="false" aria-controls="collapse13"><span
                                            class="ui-accordion__number">13</span>Should I be an advanced dive?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse13" data-aria-labelledby="heading13"
                                data-parent="#accordion-1">
                                <div class="card-body">Diving in Apo Reef is open to all Open Water Divers. An Advanced
                                    Open Water Diver Certification is a plus, since Apo Reef is a wall dive.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading14">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse14" aria-expanded="false" aria-controls="collapse14"><span
                                            class="ui-accordion__number">14</span>When is check-out time on the
                                        vessel?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse14" data-aria-labelledby="heading14"
                                data-parent="#accordion-1">
                                <div class="card-body">The check-out time in the vessel is 0400pm on the last day.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading15">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse15" aria-expanded="false" aria-controls="collapse15"><span
                                            class="ui-accordion__number">15</span>What wetsuit should I use in diving?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse15" data-aria-labelledby="heading15"
                                data-parent="#accordion-1">
                                <div class="card-body">You could use a 3mm wetsuit all year round.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading16">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse16" aria-expanded="false" aria-controls="collapse16"><span
                                            class="ui-accordion__number">16</span>Is there a near re-compression chamber
                                        in Batangas?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse16" data-aria-labelledby="heading16"
                                data-parent="#accordion-1">
                                <div class="card-body">
                                    <p><strong>Batangas Coast Guard</strong><br>
                                        Batangas City, Philippines<br>
                                        Phone: +63 (43) 723-4204<br>
                                        <strong>St. Patrick’s Hospital Medical Center</strong><br>
                                        Lopez Jaena Street,<br>
                                        Batangas City, Philippines<br>
                                        <strong>Contact Person: Dr. Michael Perez</strong><br>
                                        Phone: +63 (43) 723-8388<br>
                                        Phone: +63 (43) 300-1929<br>
                                        Phone: +63 (917) 536-2757<br>
                                        Phone: +63 (918) 902-1108
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>