<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-12 mb-5">
                <p>We are the largest privately owned live-aboard fleet in the Philippines. Our ships operate all over the Philippine Islands and Palau.</p>
                <p>All of our vessels are long-range adventure cruisers custom designed for diving, with conditioning, cozy interiors, cabins all with en-suite toilet and shower, well-stocked bars, efficient staff and impeccable service. We operate the following live-aboard dive vessels:</p>
            </div>

            <div class="col-md-6" *ngFor="let fleet of fleets">
                <div class="b-goods-flip">
                    <button class="flip-btn" *ngIf="fleet.specifications"><span></span><span class="flip-btn-mdl"></span><span></span></button>
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="flip__front">
                                <div class="b-goods-flip__img"><img class="img-scale" [src]="fleet.imagePath" alt="{{fleet.name}}"
                                        alt="photo" /></div>
                                <div class="b-goods-flip__main">
                                    <div class="b-goods-flip__header row no-gutters align-items-center">
                                        <div class="col"><a class="b-goods-flip__title" href="{{location +'/'+ fleet.url}}">{{fleet.name}}</a></div>
                                        <div class="col-auto">
                                            <div class="b-goods-flip__price text-primary">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-goods-descrip_nev_wrap">
                                        <div class="b-ex-info">{{fleet.description}}</div>
                                        <a class="btn btn-default w-100" href="{{location +'/'+ fleet.url}}">READ
                                            MORE</a>
                                    </div>
                                </div>
                            </div>
                            <div class="flip__back" *ngIf="fleet.specifications">
                                <div class="b-goods-flip__header">
                                    <div class="b-goods-flip__title">{{fleet.name}}</div>
                                    <!-- <div class="b-goods-flip__category">Fleet Type</div> -->
                                    <div class="flip-btn-hide"></div>
                                </div>
                                <div class="b-goods-flip-info">
                                    <div class="b-goods-flip-info__item row no-gutters justify-content-between" *ngFor="let spec of fleet.specifications | keyvalue">
                                        <span class="b-goods-flip-info__title col-auto">{{spec.key}}</span>
                                        <span class="b-goods-flip-info__desc col-auto">{{spec.value}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end .b-goods-->
        </div>
    </div>

</div>