<div class="l-main-content pb-0">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-2">
                <h2 class="b-goods-f__title">About Us</h2>
                <ul class="arrow-list">
                    <li>
                        <a href="/about">
                            <i class="fas fa-long-arrow-alt-right"></i> Overview
                        </a>
                    </li>
                    <li>
                        <a href="/about/our-fleet">
                            <i class="fas fa-long-arrow-alt-right"></i> Our Fleet
                        </a>
                    </li>
                    <li>
                        <a href="/about/scuba-courses">
                            <i class="fas fa-long-arrow-alt-right"></i> Scuba Courses
                        </a>
                    </li>
                    <li>
                        <a href="/about/our-crew">
                            <i class="fas fa-long-arrow-alt-right"></i> Our Crew
                        </a>
                    </li>
                    <li>
                        <a href="/about/agents-and-partners">
                            <i class="fas fa-long-arrow-alt-right"></i> Agents and Partners
                        </a>
                    </li>
                    <li>
                        <a href="/about/payment-policies">
                            <i class="fas fa-long-arrow-alt-right"></i> Payment Policies
                        </a>
                    </li>
                    <li>
                        <a href="/about/downloads">
                            <i class="fas fa-long-arrow-alt-right"></i> Download
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="b-about">
                    <div class="ui-decor ui-decor_down"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <div class="text-left">
                                    <h2 class="ui-title">Overview</h2>
                                    <div class="ui-content">
                                        <p>Expedition Fleet is the largest privately owned live-aboard fleet in the
                                            Philippines.
                                            Our ships operate all over the Philippine Islands.</p>
                                        <p>We work hard to deliver the warm, personal service Filipinos are famous for
                                            and
                                            satisfy our customers on all our trips.</p>
                                        <ul class="arrow-list">
                                            <li><i class="fas fa-long-arrow-alt-right"></i>Stunning Cruise Paths You
                                                Follow</li>
                                            <li><i class="fas fa-long-arrow-alt-right"></i>Premium Fleets</li>
                                            <li><i class="fas fa-long-arrow-alt-right"></i>Our Professional Approach
                                            </li>
                                            <li><i class="fas fa-long-arrow-alt-right"></i>Quality Service Guaranteed
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center"> <img src="./assets/_live/img/about-featured.png"
                                    alt="photo" class="about-image py-5"> </div>
                            <div class="col-lg-12">
                                <h3 class="mt-5">What’s New On-board?</h3>
                                <p>Experience refreshing/relaxing new rooms and a whole new menu of Asian Fusion
                                    cuisine.
                                    All rooms are renovated in modern minimalist concept,evoking a sense of space and
                                    functionality.
                                    Motivated, experienced crew ready to serve the guest.Party and BBQ grills at the
                                    sandbar…</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-advantages pb-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="b-advantages">
                                    <div class="ic flaticon-sailor text-secondary"></div>
                                    <div class="b-advantages__main">
                                        <div class="b-advantages__title">Hospitality</div>
                                        <div class="decore01"></div>
                                        <div class="b-advantages__info">Our Hospitality stands for great service,
                                            Filipino
                                            friendliness and the flexibility to satisfy individual needs.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="b-advantages">
                                    <div class="ic flaticon-snorkel text-secondary"></div>
                                    <div class="b-advantages__main">
                                        <div class="b-advantages__title">Passion for Scuba Diving</div>
                                        <div class="decore01"></div>
                                        <div class="b-advantages__info">This passion for scuba diving means that we
                                            respect
                                            nature, take care of the environment and the protection of marine life.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="b-advantages">
                                    <div class="ic flaticon-rudder-1 text-secondary"></div>
                                    <div class="b-advantages__main">
                                        <div class="b-advantages__title">Priceless Experience</div>
                                        <div class="decore01"></div>
                                        <div class="b-advantages__info">Our experience leads us to professionalism and
                                            competence above and below the surface – always with Safety first!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <section class="section-progress mt-5">
                            <div class="container">
                                <div class="dw-wrap">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-4">
                                            <div class="dw-img w-100 h-100 bg-white text-center d-flex">
                                                <img src="./assets/_live/img/cruise_logo.jpg"
                                                    class="mw-100 w-auto m-auto" alt="photo">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-8">
                                            <div class="dw-info">
                                                <h5 class="decore-title">Our Company</h5>
                                                <h3>153 Island Cruise Republic is the marketing and booking company for
                                                    Expedition Fleet.</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <ui-teams></ui-teams> -->