
<div class="l-main-content pt-5 pb-0 home">
    <div class="container">
        <div class="section-advantages pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-4 text-center"> <img src="./assets/_live/img/about-featured.png" alt="photo" class="about-image py-5"> </div>
                    
                    <div class="col-lg-4">
                        <div class="b-advantages">
                            <div class="b-advantages__main">
                                <div class="b-advantages__title">What’s New On-board?</div>
                                <div class="decore01"></div>
                                <div class="b-advantages__info">Experience refreshing/relaxing new rooms
                                    and a whole new menu of Asian Fusion cuisine.
                                    All rooms are in modern minimalist concept, evoking a sense of space and
                                    functionality. Motivated, experienced crew ready to serve
                                    the guest. Party at the sandbar...</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="b-advantages">
                            <div class="b-advantages__main">
                                <div class="b-advantages__title">Apo Reef & Coron</div>
                                <div class="decore01"></div>
                                <div class="b-advantages__info">At Apo Coral Reef. An underwater vista of colorful
                                    corals await you. Swim with sea turtles, or view an array of colorful surgeonfish,
                                    anthias and others. At Coron. Miles and miles of pristine white sand. Beautiful
                                    limestone cliffs, lagoons, saltwater/freshwater hot springs. And the
                                    popular dive sites of coral reefs and Japanese Warship wrecks.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="b-advantages">
                            <div class="b-advantages__main">
                                <div class="b-advantages__title">Tubbataha</div>
                                <div class="decore01"></div>
                                <div class="b-advantages__info">The best dive site in the Philippines, most likely in
                                    the world's top 10 list. Clear blue waters, 50 meters deep and deeper. A melting pot
                                    of marine life.
                                    A must see for every diver in their lifetime.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section-goods bg-white">
    <div class="section-default section-goods__inner bg-dark">
        <div class="ui-decor ui-decor_mirror ui-decor_center"></div>
        <div class="container">
            <div class="text-center">
                <h2 class="ui-title ui-title_light">Stella Maris Explorer</h2>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <p class="mb-0">The M/Y Stella Maris Explorer is a spacious 36 meter twin screw, full service dive cruiser. <br/>This boat is one of the fleet's pleasure yachts, as it has a spacious open-air top deck - perfect for enjoying your sundowner while watching the sunset!</p> 
                        <!-- <img src="/assets/img/decore03.png" alt="photo"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-goods__list" style="margin-top: -40px;">
            <div class="row">
                <div class="col text-center">
                    <img src="/assets/_live/img/fleet/stella-maris.png" class="rounded shadow" style="max-width: 100%;" />
                </div>
                <!-- <div class="col-xl-3 col-md-6" *ngFor="let fleet of fleets">
                    <div class="b-goods">
                        <a class="b-goods__img" href="/about/our-fleet/{{fleet.url}}"><img class="img-scale" [src]="fleet.imagePath" alt="{{fleet.name}}"></a>
                        <div class="b-goods__main">
                            <div class="row no-gutters">
                                <div class="col">
                                    <a class="b-goods__title" href="/about/our-fleet/{{fleet.url}}">{{fleet.name}}</a>
                                </div>
                            </div>
                            <div class="b-goods-descrip_nev_wrap">
                                <div class="b-goods-descrip_nev">
                                    <div class="b-goods-descrip__nev" *ngIf="fleet.specifications && fleet.specifications['Maximum Capacity']"> <i class="fas fa-user"></i> <span class="b-goods-descrip__info"> {{fleet.specifications['Maximum Capacity']}}</span> </div>
                                    <div class="b-goods-descrip__nev" *ngIf="fleet.specifications && fleet.specifications['Cruising Speed']"> <i class="fas fa-tachometer-alt"></i> <span class="b-goods-descrip__info"> {{fleet.specifications['Cruising Speed']}}</span> </div>
                                </div>
                                <div class="b-goods-descrip_nev">
                                    <div class="b-goods-descrip__nev" *ngIf="fleet.specifications && fleet.specifications['Water Capacity']"> <i class="fas fa-tint"></i> <span class="b-goods-descrip__info"> {{fleet.specifications['Water Capacity']}}</span> </div>
                                    <div class="b-goods-descrip__nev" *ngIf="fleet.specifications && fleet.specifications['Electricity']"> <i class="fas fa-bolt"></i> <span class="b-goods-descrip__info"> {{fleet.specifications['Electricity']}}</span> </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="text-center mt-3"><a class="btn btn-border view-all-boats" href="/about/our-fleet">view all fleets</a></div>
        </div>
    </div>
</section>

<section class="section-video section-default section-goods__inner bg-dark ">
    <div class="ui-decor ui-decor_mirror ui-decor_center"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-10">
                <div class="video-info">
                    <p>
                        <img src="./assets/img/decore02.png" alt="decore">
                        Give us a call or drop an email, We endeavor to
                        answer within 24 hours</p>
                    <h4>We’ve Exclusive Boats With Charter Offers</h4>
                    <h5>LET’S PLAN YOUR NEXT TOUR!</h5>
                    <ul>
                        <li><i class="fas fa-phone-square"></i> Call Us Today: +632 577 4305 | +63 917 550 1936</li>
                        <li><i class="fas fa-envelope-square"></i> Email: expeditionfleet1539@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-2">
                <a class="video-btn venobox ternary-video-btn-style vbox-item popup-youtube" data-vbtype="video"
                    data-autoplay="true" href="www.youtube.com/watch?v=WEokIF7z7UM"><i
                        class="fa fa-play"></i>
                    <div class="pulsing-bg"></div>
                    <span>Watch A Tour</span>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="l-main-content pb-0 home counter section-progress bg-white">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="dw-wrap">
            <div class="row">
                <div class="col-xs-12 col-md-5 d-flex align-items-center">
                    <div class="dw-img"><img src="./assets/_live/img/fleet/stella-maris-explorer/img1.png" alt="photo"></div>
                </div>
                <div class="col-xs-12 col-md-7">
                    <div class="dw-info">
                        <h5 class="decore-title">Deal Of The Week

                        </h5>
                        <h3>Tubbataha Trip <span>USD 2,650 - USD 3,250</span></h3>
                        <div class="dw-text">Main Engine: MTU | Year Built: 1986 | Mim Guests: 12 | Max Guests: 20</div>
                        <div class="dw-footer"><i class="fas fa-phone-square"></i> Book now <strong>+632 577 4305</strong></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-advantages pt-0">
            <div class="container">
                <div class="row bg-counters mb-5">
                    <!-- Counter #1 -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="b-progress-list cr-counters bg-accent-1 bg-accent-color1">
                            <div class="cr-counters__icon"> <i class="flaticon-sailor"></i> </div>
                            <div class="cr-counters__numbers js-chart" data-percent="980"> <span
                                    class="js-percent">980</span> <span>+</span> <canvas height="0" width="0"></canvas>
                            </div>
                            <div class="cr-counters__description">Tourists Served</div>
                        </div>
                    </div>
                    <!-- Counter #2 -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="cr-counters bg-accent-2 bg-accent-color2 ">
                            <div class="cr-counters__icon"> <i class="flaticon-snorkel"></i> </div>
                            <div class="cr-counters__numbers js-chart" data-percent="240"> <span
                                    class="js-percent">240</span> <span>+</span><canvas height="0" width="0"></canvas>
                            </div>
                            <div class="cr-counters__description">Scuba Classes</div>
                        </div>
                    </div>
                    <!-- Counter #3 -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="cr-counters bg-accent-1 bg-accent-color3">
                            <div class="cr-counters__icon"> <i class="flaticon-island-1"></i> </div>
                            <div class="cr-counters__numbers js-chart" data-percent="675"> <span
                                    class="js-percent">675</span> <span>+</span><canvas height="0" width="0"></canvas>
                            </div>
                            <div class="cr-counters__description">Travels</div>
                        </div>
                    </div>
                    <!-- Counter #4 -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="cr-counters  bg-accent-color4">
                            <div class="cr-counters__icon"> <i class="flaticon-chef-hat"></i> </div>
                            <div class="cr-counters__numbers js-chart" data-percent="130"> <span
                                    class="js-percent">130</span> <span>+</span><canvas height="0" width="0"></canvas>
                            </div>
                            <div class="cr-counters__description">Exquisite Cuisine</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-reviews area-bg area-bg_dark area-bg_op_90">
    <div class="area-bg__inner section-default">
        <div class="container text-center">
            <div class="text-center">
                <h2 class="ui-title ui-title_light">What People Says...</h2>
                <div class="row">
                    <div class="col-md-8 offset-md-2"> <img src="/assets/img/decore03.png" alt="photo"> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="b-reviews-slider js-slider slick-initialized slick-slider" data-slick="{&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1, &quot;autoplay&quot;: true, &quot;dots&quot;: false, &quot;arrows&quot;: false}"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 5684px; transform: translate3d(-3248px, 0px, 0px); transition: transform 500ms ease 0s;"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 812px;" tabindex="-1"><div><blockquote class="b-reviews" style="width: 100%; display: inline-block;">
                            <div class="b-seller__img"><img class="img-scale" src="/assets/img/avatar.jpg" alt="foto"></div>
                            <div class="b-reviews__text">Exercit ullamco laboris nisiut aliquip ex ea com irure dolor reprehs tempor incididunt ut labore dolore magna aliqua quis nostrud sed exercitation ullamco laboris nisiut duis aute irure sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="b-reviews__footer">
                                <div class="b-reviews__name">Donald James</div>
                                <div class="b-reviews__category">Customer</div>
                            </div>
                        </blockquote></div></div><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 812px;" tabindex="-1"><div><blockquote class="b-reviews" style="width: 100%; display: inline-block;">
                            <div class="b-seller__img"><img class="img-scale" src="/assets/img/avatar.jpg" alt="foto"></div>
                            <div class="b-reviews__text">Exercit ullamco laboris nisiut aliquip ex ea com irure dolor reprehs tempor incididunt ut labore dolore magna aliqua quis nostrud sed exercitation ullamco laboris nisiut duis aute irure sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="b-reviews__footer">
                                <div class="b-reviews__name">Donald James</div>
                                <div class="b-reviews__category">Customer</div>
                            </div>
                        </blockquote></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 812px;" tabindex="-1"><div><blockquote class="b-reviews" style="width: 100%; display: inline-block;">
                            <div class="b-seller__img"><img class="img-scale" src="/assets/img/avatar.jpg" alt="foto"></div>
                            <div class="b-reviews__text">Exercit ullamco laboris nisiut aliquip ex ea com irure dolor reprehs tempor incididunt ut labore dolore magna aliqua quis nostrud sed exercitation ullamco laboris nisiut duis aute irure sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="b-reviews__footer">
                                <div class="b-reviews__name">Donald James</div>
                                <div class="b-reviews__category">Customer</div>
                            </div>
                        </blockquote></div></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 812px;"><div><blockquote class="b-reviews" style="width: 100%; display: inline-block;">
                            <div class="b-seller__img"><img class="img-scale" src="/assets/img/avatar.jpg" alt="foto"></div>
                            <div class="b-reviews__text">Exercit ullamco laboris nisiut aliquip ex ea com irure dolor reprehs tempor incididunt ut labore dolore magna aliqua quis nostrud sed exercitation ullamco laboris nisiut duis aute irure sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="b-reviews__footer">
                                <div class="b-reviews__name">Donald James</div>
                                <div class="b-reviews__category">Customer</div>
                            </div>
                        </blockquote></div></div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 812px;" tabindex="-1"><div><blockquote class="b-reviews" style="width: 100%; display: inline-block;">
                            <div class="b-seller__img"><img class="img-scale" src="/assets/img/avatar.jpg" alt="foto"></div>
                            <div class="b-reviews__text">Exercit ullamco laboris nisiut aliquip ex ea com irure dolor reprehs tempor incididunt ut labore dolore magna aliqua quis nostrud sed exercitation ullamco laboris nisiut duis aute irure sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="b-reviews__footer">
                                <div class="b-reviews__name">Donald James</div>
                                <div class="b-reviews__category">Customer</div>
                            </div>
                        </blockquote></div></div><div class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 812px;" tabindex="-1"><div><blockquote class="b-reviews" style="width: 100%; display: inline-block;">
                            <div class="b-seller__img"><img class="img-scale" src="/assets/img/avatar.jpg" alt="foto"></div>
                            <div class="b-reviews__text">Exercit ullamco laboris nisiut aliquip ex ea com irure dolor reprehs tempor incididunt ut labore dolore magna aliqua quis nostrud sed exercitation ullamco laboris nisiut duis aute irure sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="b-reviews__footer">
                                <div class="b-reviews__name">Donald James</div>
                                <div class="b-reviews__category">Customer</div>
                            </div>
                        </blockquote></div></div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 812px;" tabindex="-1"><div><blockquote class="b-reviews" style="width: 100%; display: inline-block;">
                            <div class="b-seller__img"><img class="img-scale" src="/assets/img/avatar.jpg" alt="foto"></div>
                            <div class="b-reviews__text">Exercit ullamco laboris nisiut aliquip ex ea com irure dolor reprehs tempor incididunt ut labore dolore magna aliqua quis nostrud sed exercitation ullamco laboris nisiut duis aute irure sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="b-reviews__footer">
                                <div class="b-reviews__name">Donald James</div>
                                <div class="b-reviews__category">Customer</div>
                            </div>
                        </blockquote></div></div></div></div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-gallery bg-white">
    <div class="container">
        <div class="text-center">
            <h2 class="ui-title">Picture Gallery</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <p>Dolore magna aliqua enim ad minim veniam, quis nostrud exercitation aliquip duis aute irure dolorin <br> reprehenderits vol dolore fugiat nulla pariatur excepteur sint occaecat cupidatat.</p> <img src="/assets/img/decore03.png" alt="photo"> </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="ui-gallery js-zoom-gallery">
            <div class="row no-gutters">
                <div class="col-lg-3 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal001.jpg"><img class="img-scale" src="/assets/img/gal001.jpg" alt="photo"></a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal003.jpg"><img class="img-scale" src="/assets/img/gal003.jpg" alt="photo"></a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal009.jpg"><img class="img-scale" src="/assets/img/gal009.jpg" alt="photo"></a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal005.jpg"><img class="img-scale" src="/assets/img/gal005.jpg" alt="photo"></a>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-5 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal006.jpg"><img class="img-scale" src="/assets/img/gal006.jpg" alt="photo"></a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal008.jpg"><img class="img-scale" src="/assets/img/gal008.jpg" alt="photo"></a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal007.jpg"><img class="img-scale" src="/assets/img/gal007.jpg" alt="photo"></a>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <a class="ui-gallery__img js-zoom-gallery__item" href="/assets/img/_gal004.jpg"><img class="img-scale" src="/assets/img/gal004.jpg" alt="photo"></a>
                </div>
            </div>
        </div>
    </div>
</section>