
<section class="section-team">
    <div class="container">
        <div class="text-center">

            <div class="text-center">
                <h2 class="ui-title">Meet The Crew</h2>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h6 class="slogan">The Experienced Team that Drove the Best Yachts</h6> <img
                            src="./assets/img/decore03.png" alt="photo">
                    </div>
                </div>
            </div>

            <div class="b-team-slider ui-slider ui-slider_dots-gray ui-slider_arr_btm-center ui-slider_arr_gray js-slider"
                data-slick="{&quot;slidesToShow&quot;: 4, &quot;slidesToScroll&quot;: 2, &quot;autoplay&quot;: true, &quot;dots&quot;: false, &quot;arrows&quot;: true, &quot;responsive&quot;: [{&quot;breakpoint&quot;: 992, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2, &quot;slidesToScroll&quot;: 2}}, {&quot;breakpoint&quot;: 768, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1}}]}">
                <section class="b-team">
                    <div class="b-team__inner">
                        <div class="b-team__media">
                            <img class="img-scale" src="./assets/img/yteam05.jpg" alt="Foto"/>
                        </div>
                        <h3 class="b-team__name">Alexander Rayan</h3>
                        <div class="b-team__category">Director</div>
                        <ul class="b-team-soc list-unstyled">
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-twitter"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-behance"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-facebook"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </section>
                <!-- end .b-team-->
                <section class="b-team">
                    <div class="b-team__inner">
                        <div class="b-team__media">
                            <img class="img-scale" src="./assets/img/yteam04.jpg" alt="Foto"/>
                        </div>
                        <h3 class="b-team__name">Marey Jan Patrick</h3>
                        <div class="b-team__category">Manager</div>
                        <ul class="b-team-soc list-unstyled">
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-twitter"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-behance"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-facebook"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </section>
                <!-- end .b-team-->
                <section class="b-team">
                    <div class="b-team__inner">
                        <div class="b-team__media">'
                            <img class="img-scale" src="./assets/img/yteam02-1.jpg" alt="Foto"/></div>
                        <h3 class="b-team__name">Joseph Edward</h3>
                        <div class="b-team__category">Developer</div>
                        <ul class="b-team-soc list-unstyled">
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-twitter"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-behance"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-facebook"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </section>

                <!-- end .b-team-->
                <section class="b-team">
                    <div class="b-team__inner">
                        <div class="b-team__media">
                            <img class="img-scale" src="./assets/img/yteam03-1.jpg" alt="Foto"/></div>
                        <h3 class="b-team__name">Alexander Rayan</h3>
                        <div class="b-team__category">Manager</div>
                        <ul class="b-team-soc list-unstyled">
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-twitter"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-behance"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-facebook"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </section>

                <section class="b-team">
                    <div class="b-team__inner">
                        <div class="b-team__media">
                            <img class="img-scale" src="./assets/img/yteam04.jpg" alt="Foto"/>
                        </div>
                        <h3 class="b-team__name">Marey Jan Patrick</h3>
                        <div class="b-team__category">Manager</div>
                        <ul class="b-team-soc list-unstyled">
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-twitter"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-behance"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-facebook"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </section>
                <!-- end .b-team-->

                <!-- end .b-team-->
                <section class="b-team">
                    <div class="b-team__inner">
                        <div class="b-team__media">
                            <img class="img-scale" src="./assets/img/yteam02-1.jpg" alt="Foto"/>
                        </div>
                        <h3 class="b-team__name">Joseph Edward</h3>
                        <div class="b-team__category">Developer</div>
                        <ul class="b-team-soc list-unstyled">
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-twitter"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-behance"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-facebook"></i></a></li>
                            <li class="b-team-soc__item"><a class="b-team-soc__link" href="#" target="_blank"><i
                                        class="ic fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>