<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="fl--events-wrap">
            <div class="fl--events-featured-content-vc">
                <div
                    class="fl-events--featured-post post-209 events type-events status-publish has-post-thumbnail hentry">
                    <div class="fl-events-left-content col-md-6 bg-white d-flex"> 
                        <img src="./assets/_live/img/padi.com.jpg" alt="photo" class="w-auto mw-100 m-auto">
                    </div>
                    <div class="fl-events-right-content col-md-6">

                        <h3 class="fl-entry-title"><a href="/scuba-courses/padi">PADI Specialty Courses</a></h3>

                        <div class="fl-events-excerpt">
                            <p>All PADI specialty courses must be booked in advance and are subject to availability of Instructor and conditions of dive sites. Please contact us in advance for requirements and bookings.</p>
                            <p>All specialty courses include the PADI material and Certification Card. The course fee will be collected onboard in US $ or PHP.</p>
                            <p>Technical Diving Courses are only offered on our Palau Liveaboards. Please follow this <a [routerLink]="'scuba-courses'">link</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fl-custom--title text-center">
            <div class="ui-title">Our Scuba Courses</div>
        </div>
        <div class="fl--events-archive-content-vc">
            <div class="fl-events--archive-post events type-events">
                <div class="fl-events-center-content col-md-9">
                    <h3 class="fl-entry-title"><a href="/scuba-courses" onClick="return false;">Enriched Air Diver</a></h3>
                    <div class="fl-events-excerpt">
                        <p>Stay down longer and get back the water sooner!
                            <br>
                            Scuba diving with enriched air nitrox gives you more no decompression dive time. This means more time underwater, especially on repetitive scuba dives on a liveaboard.
                            <br>
                            We offer the PADI Enriched Air Nitrox specialty course on all our trips and you can enjoy the advantages of diving with nitrox immediately. After completing the course, students get FREE Nitrox on the whole trip!
                        </p>
                    </div>
                </div>
                <div class="fl-events-right-content col-md-3"> <a class="btn btn-default btn-tours"
                        href="/scuba-courses" onClick="return false;">US $ 250</a>
                </div>
            </div>
            <div class="fl-events--archive-post events type-events">
                <div class="fl-events-center-content col-md-9">
                    <h3 class="fl-entry-title"><a href="/scuba-courses" onClick="return false;">Deep Diver</a></h3>
                    <div class="fl-events-excerpt">
                        <p>Stay down longer and get back the water sooner!
                            <br>
                            Scuba diving with enriched air nitrox gives you more no decompression dive time. This means more time underwater, especially on repetitive scuba dives on a liveaboard.
                            <br>
                            We offer the PADI Enriched Air Nitrox specialty course on all our trips and you can enjoy the advantages of diving with nitrox immediately. After completing the course, students get FREE Nitrox on the whole trip!
                        </p>
                    </div>
                </div>
                <div class="fl-events-right-content col-md-3"> <a class="btn btn-default btn-tours"
                        href="/scuba-courses" onClick="return false;">US $ 250</a>
                </div>
            </div>
            <div class="fl-events--archive-post events type-events">
                <div class="fl-events-center-content col-md-9">
                    <h3 class="fl-entry-title"><a href="/scuba-courses" onClick="return false;">Enriched Air Diver</a></h3>
                    <div class="fl-events-excerpt">
                        <p>Explore the wonders of the deep!
                            <br>
                            Deep dives require planning and discipline in order to safely enjoy all the fantastic things that can be found. In this course you learn techniques for safe diving in the deeper ranges and go to the maximum of recreational diving.
                            <br>                            
                            Most dive insurances don’t cover the expenses caused by dive accidents at deeper depths. This course might help you extending these limits. Please check your insurance!</p>
                    </div>
                </div>
                <div class="fl-events-right-content col-md-3"> <a class="btn btn-default btn-tours"
                        href="/scuba-courses" onClick="return false;">US $ 200</a>
                </div>
            </div>
            <div class="fl-events--archive-post events type-events">
                <div class="fl-events-center-content col-md-9">
                    <h3 class="fl-entry-title"><a href="/scuba-courses" onClick="return false;">Wreck Diver</a></h3>
                    <div class="fl-events-excerpt">
                        <p>Explore the fascinating windows to the past!
                            <br>
                            The PADI Wreck Diver course teaches you the ins and outs of rewarding, responsible wreck diving.
                            <br>
                            This course is only available on our liveaboards in Palau, Apo Reef & Coron and Visayas.</p>
                    </div>
                </div>
                <div class="fl-events-right-content col-md-3"> <a class="btn btn-default btn-tours"
                        href="/scuba-courses" onClick="return false;">US $ 200</a>
                </div>
            </div>
            <div class="fl-events--archive-post events type-events">
                <div class="fl-events-center-content col-md-9">
                    <h3 class="fl-entry-title"><a href="/scuba-courses" onClick="return false;">Night Diver</a></h3>
                    <div class="fl-events-excerpt">
                        <p>See your favorite dive sites from a whole new perspective at night!
                            <br>
                            Introduce yourself to the whole new cast of critters that comes out after the sun goes down and learn about night dive planning, equipment and navigation.  </p>
                    </div>
                </div>
                <div class="fl-events-right-content col-md-3"> <a class="btn btn-default btn-tours"
                        href="/scuba-courses" onClick="return false;">US $ 200</a>
                </div>
            </div>
            <div class="fl-events--archive-post events type-events">
                <div class="fl-events-center-content col-md-9">
                    <h3 class="fl-entry-title"><a href="/scuba-courses" onClick="return false;">Multilevel Diver</a></h3>
                    <div class="fl-events-excerpt">
                        <p>Maximize your dive time so you can explore more! 
                            <br>
                            In this course, you learn how to plan dives that extend your bottom time by crediting you for slower nitrogen absorption when you ascend to a shallower depth. You’ll also get to see the various types of multilevel dive calculators (including dive computers), as well as learn about multilevel dive planning, organization, procedures, techniques, and potential problems.</p>
                    </div>
                </div>
                <div class="fl-events-right-content col-md-3"> <a class="btn btn-default btn-tours"
                        href="/scuba-courses" onClick="return false;">US $ 200</a>
                </div>
            </div>
            <div class="fl-events--archive-post events type-events">
                <div class="fl-events-center-content col-md-9">
                    <h3 class="fl-entry-title"><a href="/scuba-courses" onClick="return false;">Drift Diver</a></h3>
                    <div class="fl-events-excerpt">
                        <p>This course will blow you away!
                            <br>
                            In the PADI drift diver course you will learn how to enjoy ocean currents by “going with the flow,” staying with your dive partner, communicating with the dive boat and knowing where you are the whole time.</p>
                    </div>
                </div>
                <div class="fl-events-right-content col-md-3"> <a class="btn btn-default btn-tours"
                        href="/scuba-courses" onClick="return false;">US $ 200</a>
                </div>
            </div>
        </div>
    </div>
</div>