<div class="l-main-content">
    <div class="ui-decor ui-decor_mirror ui-decor_sm-h bg-primary"></div>
    <div class="container">
        <div class="b-goods-group-2 row">
            <div class="col-md-4">
                <h2 class="b-goods-f__title">Tubbataha</h2>
                <ul class="arrow-list">
                    <li *ngFor="let link of links">
                        <a href="{{link.url}}" class="{{link.active}}">
                            <i class="fas fa-long-arrow-alt-right"></i>{{ link.name }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="content entry">
                    <div class="ui-accordion accordion mb-3" id="accordion-1">
                        <div class="card">
                            <div class="card-header" id="heading1">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><span
                                            class="ui-accordion__number">01</span>Where is Tubbataha Reefs?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse show" id="collapse1" data-aria-labelledby="heading1"
                                data-parent="#accordion-1">
                                <div class="card-body">Tubbataha Reefs is located in the center of the Sulu Sea between
                                    the Island of Palawan and the Visayan islands. The jump off point is Puerto
                                    Princesa, Palawan.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"><span
                                            class="ui-accordion__number">02</span>When is the best time to go to
                                        Tubbataha Reefs?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse2" data-aria-labelledby="heading2"
                                data-parent="#accordion-1">
                                <div class="card-body">The best time to go to Tubbataha Reefs is during the Philippine
                                    Summer season from mid-March to mid June.
                                    Days are hot and dry and sea conditions are at their calmest and clearest.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"><span
                                            class="ui-accordion__number">03</span>What is Tubbataha Reef Transition 1?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse3" data-aria-labelledby="heading3"
                                data-parent="#accordion-1">
                                <div class="card-bodyFood">Tubbataha Reef Transition 1 is the transition of the ships
                                    from its home port in Anilao Batangas to Tubbataha Reefs, stopping at Apo Reef and
                                    Cuyo Islands for a day of diving in each location before reaching Tubbataha. Guests
                                    have to book a flight out from Pto Princesa at the end of the trip.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"><span
                                            class="ui-accordion__number">04</span>What is Tubbataha Regular Trip?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse4" data-aria-labelledby="heading4"
                                data-parent="#accordion-1">
                                <div class="card-body">Tubbataha Regular Trip starts and ends at Puerto Princesa. All
                                    diving is done in the Tubbataha Reefs National Park.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading5">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse5" aria-expanded="false" aria-controls="collapse5"><span
                                            class="ui-accordion__number">05</span>What is Tubbataha Transition Trip2?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse5" data-aria-labelledby="heading5"
                                data-parent="#accordion-1">
                                <div class="card-body">Tubbataha Reef Transition 2 is the transition of the ships from
                                    Tubbataha to their home port in Anilao, Batangas. The itinerary is similar to that
                                    of the Transition trip 1 but in reverse.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading6">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse6" aria-expanded="false" aria-controls="collapse6"><span
                                            class="ui-accordion__number">06</span>What is Tubbataha Transition Trip2?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse6" data-aria-labelledby="heading6"
                                data-parent="#accordion-1">
                                <div class="card-body">Tubbataha Reef Transition 2 is the transition of the ships from
                                    Tubbataha to their home port in Anilao, Batangas. The itinerary is similar to that
                                    of the Transition trip 1 but in reverse.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading7">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse7" aria-expanded="false" aria-controls="collapse7"><span
                                            class="ui-accordion__number">07</span>How do I get to Tubbataha Reefs?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse7" data-aria-labelledby="heading7"
                                data-parent="#accordion-1">
                                <div class="card-body">153 Island Cruise Republic can arrange your air tickets going
                                    to/from Puerto Princesa. There are several airlines that flies down to Puerto
                                    Princesa, Palawan.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading8">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse8" aria-expanded="false" aria-controls="collapse8"><span
                                            class="ui-accordion__number">08</span>What time does the boat leave on the
                                        day of departure/arrive day of arrival?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse8" data-aria-labelledby="heading8"
                                data-parent="#accordion-1">
                                <div class="card-body">The ships embark for Tubbataha between 6-8 pm on the day of
                                    departure. Arriving guests are picked up at the Airport and transferred to the ship,
                                    assigned a dive crate and checked into their rooms.
                                    They have the whole afternoon at leisure to take in the city attractions, go last
                                    minute shopping for toiletries, etc.
                                    <br><br>
                                    A pre- departure briefing will be done during the evening of arrival when guests
                                    will be asked to fill out forms and sign waivers, be given boat assignments and
                                    informed of dive schedules as well as ship/park safety regulations and procedures.
                                    <br><br>
                                    On the day of arrival, the ship is usually in port by 6 am and guests are
                                    disembarked after breakfast . 8 am is the usual disembarkation time but guests who
                                    have later flights are free to remain on board until airport transfer time. Puerto
                                    Princesa Airport/ship transfers are included in your package.

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading9">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse9" aria-expanded="false" aria-controls="collapse9"><span
                                            class="ui-accordion__number">09</span>How long does it take to go to Anilao,
                                        Batangas from Manila?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse9" data-aria-labelledby="heading9"
                                data-parent="#accordion-1">
                                <div class="card-body">From Manila, it is approximately 3 ½ hours going to Anilao,
                                    Batangas.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading10">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse10" aria-expanded="false" aria-controls="collapse10"><span
                                            class="ui-accordion__number">10</span>Can you arrange transfers going to
                                        Anilao, Batangas? Hotel stays in Manila?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse10" data-aria-labelledby="heading10"
                                data-parent="#accordion-1">
                                <div class="card-body">Yes, we can help you arrange your land transfers/ hotel
                                    arrangements.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading11">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse11" aria-expanded="false" aria-controls="collapse11"><span
                                            class="ui-accordion__number">11</span>What is included in the Tubbataha
                                        Reefs Liveaboard Package?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse11" data-aria-labelledby="heading11"
                                data-parent="#accordion-1">
                                <div class="card-body">Accommodations on board, no decompression diving, tanks, weights,
                                    weight belt, boat, services of a divemaster, roundtrip land transfers from Puerto
                                    Princesa airport to boat and v.v, all meals, and complimentary tea, coffee, juice.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading12">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse4" aria-expanded="false" aria-controls="collapse12"><span
                                            class="ui-accordion__number">12</span>How many dives they could do in one
                                        day?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse12" data-aria-labelledby="heading12"
                                data-parent="#accordion-1">
                                <div class="card-body">Guests can do maximum of 3 Dives a Day and 1 Night Dive. Night
                                    dive is not included on the last diving day.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading13">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse13" aria-expanded="false" aria-controls="collapse13"><span
                                            class="ui-accordion__number">13</span>When should I arrive in Puerto
                                        Princessa for transition and regular trip?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse13" data-aria-labelledby="heading13"
                                data-parent="#accordion-1">
                                <div class="card-body">Guests should arrived Puerto Princesa not later than 1700H (5pm)
                                    on the embarkation day.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading14">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse14" aria-expanded="false" aria-controls="collapse14"><span
                                            class="ui-accordion__number">14</span>Do I need a Visa and Passport?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse14" data-aria-labelledby="heading14"
                                data-parent="#accordion-1">
                                <div class="card-body">A valid passport is required. Visas are not required for tourists
                                    who will no stay no longer than 21 days provided that they have an onward or return
                                    journey tickets and do not belong to restricted nationality. For long staying guests
                                    visas are required, you can apply at the nearest Philippine consulate in your
                                    country of origin.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading15">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse15" aria-expanded="false" aria-controls="collapse15"><span
                                            class="ui-accordion__number">15</span>Who will meet me at the airport?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse15" data-aria-labelledby="heading15"
                                data-parent="#accordion-1">
                                <div class="card-body">Upon arrival in the Puerto Princesa Airport please look for
                                    members of our Staff wearing a t-shirt with Expeditionfleet’s LOGO.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading16">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse16" aria-expanded="false" aria-controls="collapse16"><span
                                            class="ui-accordion__number">16</span>What is the weather in Philippines?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse16" data-aria-labelledby="heading16"
                                data-parent="#accordion-1">
                                <div class="card-body">The Philippines is a tropical country with an average temperature
                                    of 32°C (80°F). March to June is hot and dry (36°C); rains and typhoons abound from
                                    July to October; November to February is pleasantly cool (around 23°C) and dry. In
                                    mountainous regions, temperatures dip to about 15°C.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading17">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse17" aria-expanded="false" aria-controls="collapse17"><span
                                            class="ui-accordion__number">17</span>Are tender boats used?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse17" data-aria-labelledby="heading17"
                                data-parent="#accordion-1">
                                <div class="card-body">Yes, all of our dives are conducted in small groups from tender
                                    boats ensuring quick entry and exit from the water.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading18">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse18" aria-expanded="false" aria-controls="collapse18"><span
                                            class="ui-accordion__number">18</span>Is there night diving?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse18" data-aria-labelledby="heading18"
                                data-parent="#accordion-1">
                                <div class="card-body">Yes there is, please take a look our sample itinerary. However,
                                    ONLY advanced divers will be allowed to do so.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading19">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse19" aria-expanded="false" aria-controls="collapse19"><span
                                            class="ui-accordion__number">19</span>Should I be an advanced diver?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse19" data-aria-labelledby="heading19"
                                data-parent="#accordion-1">
                                <div class="card-body">Not necessarily. All dives begin with a back-roll onto the reef
                                    top which is usually around 15 meters. After everyone has trimmed their buoyancy and
                                    are comfortable, the dive leader will then bring the group to the drop off and down
                                    the wall.<br><br>Current is usually present in Tubbataha and thus drift diving is
                                    the norm. Divers go with the flow of the current and upon surfacing, are picked up
                                    by the chaseboat.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading20">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse20" aria-expanded="false" aria-controls="collapse20"><span
                                            class="ui-accordion__number">20</span>When is check-out time on the
                                        vessel?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse20" data-aria-labelledby="heading20"
                                data-parent="#accordion-1">
                                <div class="card-body">The check-out time in the vessel is 0800am on the last day.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading21">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse21" aria-expanded="false" aria-controls="collapse21"><span
                                            class="ui-accordion__number">21</span>What wetsuit should I use in diving?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse21" data-aria-labelledby="heading21"
                                data-parent="#accordion-1">
                                <div class="card-body">The weather is quite warm during the trip because it is the
                                    summer season. A 3mm suit is more than adequate.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading22">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse22" aria-expanded="false" aria-controls="collapse22"><span
                                            class="ui-accordion__number">22</span>Are there gear rentals?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse22" data-aria-labelledby="heading22"
                                data-parent="#accordion-1">
                                <div class="card-body">Yes we have gear for rent but we do NOT have torches/flashlights
                                    and dive computer for rent. There are torches available for sale on board. Please
                                    advise us in ADVANCE what sizes (for the gears) you will be needing.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading23">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse23" aria-expanded="false" aria-controls="collapse23"><span
                                            class="ui-accordion__number">23</span>Are there other places I should visit
                                        while I am in Puerto Princesa?<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse23" data-aria-labelledby="heading23"
                                data-parent="#accordion-1">
                                <div class="card-body">Yes, we usually encourage our guests to avail of the St Paul
                                    subterranean River Tour on the day of arrival and spend an additional night in
                                    Puerto Princesa. This is to allow divers to maximize the last day’s dives without
                                    violating the NO FLY Period.
                                    <br><br>The St Paul Subterranean River is also a UNESCO World heritage Site just
                                    like Tubbataha.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading25">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse25" aria-expanded="false" aria-controls="collapse25"><span
                                            class="ui-accordion__number">25</span>Where is the nearest re-compression
                                        chamber??<i class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse25" data-aria-labelledby="heading25"
                                data-parent="#accordion-1">
                                <div class="card-body">The nearest Re-compression chamber is in Cebu City.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading26">
                                <h3 class="mb-0">
                                    <button class="ui-accordion__link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapse26" aria-expanded="false" aria-controls="collapse26"><span
                                            class="ui-accordion__number">26</span>Where else can I go if I want to
                                        extend my holiday in the Philippines?<i
                                            class="ic fas fa-chevron-down"></i></button>
                                </h3>
                            </div>
                            <div class="collapse" id="collapse26" data-aria-labelledby="heading26"
                                data-parent="#accordion-1">
                                <div class="card-body">We can arrange you in some beautiful resorts in different places
                                    in the Philippines like Puerto Galera, Boracay, Cebu, Bohol etc.</div>
                            </div>
                        </div>
                    </div>

                    <h3>Herewith are some information to help you book your flight schedules :</h3>
                    <ol>
                        <li>The boat travels overnight to Tubbataha reef on the day of departure and return so you can
                            count on your first dive (conditions permitting) in the early morning on the second day of
                            your booking and your last dive on the evening before the last day of your booking.</li>
                        <li>Flights between Manila and Puerto Princesa are often delayed so it is recommended to book
                            your flights with arrival well before 4pm on the day of departure. Extra time can be used to
                            organize your gear on the boat. You might also want to consider arriving a day earlier and
                            do an Underground River Tour.</li>
                        <li>Departure flights are recommended 24 hours after your last dive. If you plan to dive in the
                            evening the day before the overnight return trip to Puerto Princessa, it is recommended to
                            schedule your departure flight in the late afternoon or evening on the last day of your
                            trip.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>